{% extends './base/base.html' %}

{% block content %}
<main class="container">
    
  <div class="row g-5">
    <div class="col-md-8">

      <h3 class="text-uppercase text-warning" style="latter-spacing:2px;">Category - {{category}}</h3>

      {% for i in blogs %}

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{i.title}}</h2>
        <p class="blog-post-meta">{{i.created_at | timesince}} ago | {{i.author}}</p>
        <div class="image-container d-flex flex-column align-items-start">
          <img src="{{ i.blog_image.url }}" alt="" width="850" height="400" class="mb-2">
          <a href="#!" class="btn btn-primary text-white btn-sm">{{ i.category }}</a>
      </div>
        
        <p>Short Description <br> <br> {{i.short_description}}</p>
        <hr>
        <p> Details Description <br> <br> {{i.blog_body}}</p>
      </article>

      {% endfor %}

  </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Hi there! I m a beginner Django learner, exploring the world of web development. This is my first blog website, where I’ll be sharing my journey, experiences, and everything I learn along the way.

            Join me as I dive into Django, build projects, and grow my skills step by step. Stay tuned for updates, tutorials, and insights from my learning process.
            
            Thanks for visiting!</p>
        </div>



       

        <div class="p-4">
          <h4 class="fst-italic">Follow Me</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/mackrosha" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            <li><a href="https://x.com/mackrosha" target="_blank" rel="noopener noreferrer">Twitter</a></li>
            <li><a href="https://www.facebook.com/mackrosha2" target="_blank" rel="noopener noreferrer">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}